@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, html{
    height: 100%;
}

#app{
    height: 100%;
}

#titulo-main{
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(180deg, rgba(199, 179, 0,0.2) 0%, rgba(255,255,255,0) 100%);
    padding: 2rem;
    height: auto;
    display: flex;
    gap: 2rem;
}

body{
    background-color: rgb(41, 41, 36);
    color: rgb(248, 248, 233);
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password]{
    outline: none;
    background-color: rgb(83, 83, 73);
    color: rgb(248, 248, 233);
    font-size: 1rem;
    padding: 0.25rem;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(20, 20, 20, 0.7);
    box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.7);
    transition: box-shadow ease-in-out 0.09s;
    box-shadow: inset 0px 0px 7px 1px black;
}

input[type=text]:focus, input[type=password]:focus{
    box-shadow: none;
    background-color: rgb(85, 85, 64);
    box-shadow:  inset 0px 0px 5px 1px rgb(199, 179, 0);
}

input[type=button]{
    background: rgb(83, 83, 73);
    color: rgb(248, 248, 233);
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(20, 20, 20, 0.7);
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 5px;
    margin: 0.25rem;
}

input[type=button]:hover{
    box-shadow: none;
    box-shadow:  0px 0px 5px 1px rgb(199, 179, 0);

}

input[type=button]:focus-within{
    box-shadow: none;
    background: rgb(95, 95, 43);
    box-shadow:  0px 0px 5px 1px rgb(199, 179, 0);

}

input[type=button]:focus-visible{
    outline: none;
    box-shadow: none;
    box-shadow:  0px 0px 5px 1px rgb(199, 179, 0);

}

hr{
    border-top: 1px rgb(248, 248, 233) solid;
    width: 20rem;
}

a{
    text-decoration: none; 
    color: inherit;
}